<div class="container game-mode">
	<div class="row">
		<div class="col-lg-6">
			<h3 class="page-header">Game Mode</h3>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Select Mode</h3>
				</div>
				<div class="panel-body">
					<a ng-click="arcadeMode()" class="btn btn-lg btn-mode">Arcade Mode</a> <br>
					<a ng-click="timeAttackMode()" class="btn btn-lg btn-mode">Time Attack Mode</a>
					<!-- <input type="radio" name="game-mode" value="arcade-mode" /> Arcade Mode <br>
					<input type="radio" name="game-mode" value="time-attack-mode" /> Time Attack Mode -->
				</div>
			</div>
			<!-- <div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Difficulties</h3>
				</div>
				<div class="panel-body">
					<input type="radio" name="difficulties" value="easy" /> Easy <br>
					<input type="radio" name="difficulties" value="medium" /> Medium <br>
					<input type="radio" name="difficulties" value="hard" /> Hard <br>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Card Type</h3>
				</div>
				<div class="panel-body">
					<input type="radio" name="card-type" value="color" /> Colors <br>
					<input type="radio" name="card-type" value="number" /> Numbers <br>
					<input type="radio" name="card-type" value="logo" /> Logos <br>
					<input type="radio" name="card-type" value="cards" /> Cards <br>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Card Type</h3>
				</div>
				<div class="panel-body">
					<input type="radio" name="card-type" value="color" /> Colors <br>
					<input type="radio" name="card-type" value="number" /> Numbers <br>
					<input type="radio" name="card-type" value="logo" /> Logos <br>
					<input type="radio" name="card-type" value="cards" /> Cards <br>
				</div>
			</div> -->
		</div>	
	</div>
</div>